@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');


body{
    margin: 0px;
    background-color: #f3f3f3;
    justify-content: center;
    align-items: center;
}

.cabeça{
    background-color:#ED0B00;
    height: 140px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items:center;
}

.logo{
    flex: 20%;
    height: 100px;
    margin-left: 10%;
}

.menu{
    flex: 50%;
    text-align: right;
    margin-right: 5%;
    border-radius: 40%;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-right: 50px;
     font-family: "Arima", system-ui;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
}

.menu a:hover{
   background-color: #6D0200;
}

.sobre{
    margin:10%;
    margin-right:10%;
    margin-right:10%;
    display: flex;
    justify-content:space-around;
}

.sobre img{
    border-radius: 20px;
    border: 5px solid #ED0B00;
}

#titulosobre{
    font-size: 45px;
}

#descritivo{
    h1{text-align: center;}
    margin-right: 20px;
    text-align: justify;
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.buffet{
    margin-inline: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(139, 139, 139);
    margin-bottom: 100px;
    overflow: hidden;

    width: 1200px;
    height: 600px;
}


.cardapio-container {
    background-color: #fff;
    padding: 20px;
    border: 4px solid #ED0B00;
    border-radius: 10px;
    width: 1000px;
    height: 370px;
    left: 250px;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 50px; 
}

.cardapio{
    font-size: 45px;
}

.cardapio-container:before {
    top: -25px;
    left: -25px;
}

.cardapio-container:after {
    bottom: -25px;
    right: -25px;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
}

h2 {
    font-size: 24px;
    margin: 15px 0 5px;
}

p {
    font-size: 18px;
    margin: 5px 0;
}

.aviso {
    font-style: italic;
    font-size: 14px;
    margin-top: 20px;
}

.rodape {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#ED0B00, #7a0600);
    padding: 20px;
}

.centralizar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin: 50px 10% 60px;
    color: white;
}

.maps {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.maps img {
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 50px;
    font-size: 50px;
    font-weight: bold
}

.logos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.logos p, .logos div {
    font-size: 22px; /* Aumenta o tamanho do texto */
    margin: 0;
    display: flex;
    align-items: center;
}

.logos a {
    color: white;
    text-decoration: none;
    font-size: 22px; /* Aumenta o tamanho do texto do link */
}

.logos a:hover {
    color: #ffdfba;
}

.logos i {
    font-size: 22px; /* Aumenta o tamanho do ícone */
    margin-right: 5px; /* Adiciona espaçamento entre o ícone e o texto */
}

.horario {
    display: center;
    font-size: 22px;
    line-height: 1.5;
}

.endereço {
    font-size: 22px;
    font-weight: bold;
    margin-top: auto;
}


/* carrosel de imagens de buffet */
.slide {
    display: flex;
    align-items: center;
}

.slide img{
    object-fit: cover;
    width: 1200px;
    height: 600px;
}

.slide img, .slide {
    transition: all 0.3s;
}

.buffet label {
    opacity: 0;
    display: none;
    pointer-events: none;
}

.turn1{
    margin-left: 200%;
}

.turn2{
    margin-left: 0;
}

.turn3{
    margin-left: -200%
}
